$grey-500: hsl(0, 0%, 15%);
$grey-300: hsl(0, 0%, 21%);
$grey-100: hsl(0, 0%, 94%);

$blue-500: hsl(0, 2%, 15%);
$blue-300: hsl(232, 25%, 35%);
$blue-100: hsl(225, 35%, 80%);

$red-300: hsl(0, 57%, 58%);

