@use '/src/styles/config/colours' as colours;

.wrapper {
  display: flex;
  align-self: center;
  position: relative;
  background: colours.$blue-500;
  cursor: pointer;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.1rem;
  font-style: oblique;
  border: none;
  margin-top: 25px;
  margin-bottom: 25px;

  height: 50px;
  width: 90%;
  border-radius: 30px;

  span {
    position: absolute;
    display: flex;
    top: -5px;
    align-items: center;
    
    background: colours.$grey-100;
    justify-content: center;

    height: 50px;
    width: 100%;
    border-radius: 30px;
    color: colours.$grey-500;
    // transition: 50ms ease-out;
  }
  // span:hover {
  //   top: -8px;
  // }
  // span:active {
  //     top: 0;
  // }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    font-size: 0.95rem;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    span {
      height: 40px;
    }
  }
}