@forward '/src/styles/config/colours';
@use '/src/styles/config/colours' as colours;

.wrapper {
  position: relative;
  background: colours.$grey-100;
  height: 80px;
  margin-bottom: 100px;
  min-width: 330px;

  h2 {
    background: colours.$grey-100;
  }

  svg {
    position: relative;
    bottom: 2px;
    z-index: -1;
  }
}

.title_and_button {
  display: flex;
  // flex-direction: row;
  max-width: 850px;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
  overflow: hidden;
}

.title {
  position: relative;
  flex-grow: 2;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 60px;
  }
  .title {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 500px) {
  .title {
    white-space: normal;
    font-size: 0.8rem;
  }
}