@forward '/src/styles/config/colours';
@use '/src/styles/config/colours' as colours;

.wrapper {
  position: relative;
  background: colours.$grey-100;
  margin-bottom: 100px;
  min-width: 330px;
}

.title {
  max-width: 800px;
  margin: 0 auto;
}

// .wrapper::after {
//   position: absolute;
//   content: " ";
//   height: 100px;
//   width: 100vw;
//   min-width: 330px;
//   background: url(/svgs/wave.svg);
//   background-repeat: no-repeat;
// }


@media only screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 60px;
  }
}
