@import './styles/global.scss';

.wrapper {
  position: relative;
  justify-self: center;
  color: $grey-500;
  max-width: 800px;
  border-radius: 30px;


  background: rgba( 255, 255, 255, 0.50 );
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  box-shadow:
    2.4px 3px 2.7px -35px rgba(0, 0, 0, 0.022),
    6px 7.6px 6.9px -35px rgba(0, 0, 0, 0.031),
    12.2px 15.6px 14.2px -35px rgba(0, 0, 0, 0.039),
    25.2px 32.1px 29.2px -35px rgba(0, 0, 0, 0.048),
    69px 88px 80px -35px rgba(0, 0, 0, 0.07)
  ;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.padding {
  padding: 0 50px;
}